.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  font-size: inherit;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
  text-wrap: nowrap;
}

.error {
  font-family: monospace;
  background-color: lightcoral;
}
